---
layout: default
single: true
---

<div>
<article class="hentry" role="article">
  {% include article.html %}  
  <footer>
    {% if false %}
    <p class="meta post-meta">
      {% include post/author.html %}
      {% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %}
      {% include post/categories.html %}
    </p>
    {% endif %}
    
    <p class="meta-date"> 
      {% include post/date.html %}{{ time }}
    </p>
    {% unless page.sharing == false %}
      {% include post/sharing.html %}
    {% endunless %}

    <div class="book-sidebar">
      <img src="/images/book-angle.png" />
      <h4>I'm writing a book...</h4>
      <p>...about designing web apps. If you'd like updates and early looks at the first chapters leave your email address below: </p>

      <!-- Begin MailChimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/classic-081711.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; margin-top: 30px;}
        #mc_embed_signup form{
          padding: 0px;
        }
      </style>
      <div id="mc_embed_signup">
      <form action="http://nathanspeller.us6.list-manage.com/subscribe/post?u=b54d1536ed&amp;id=8d2f78e347" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        
      <div class="mc-field-group">
        <label for="mce-EMAIL">Email Address </label>
        <input type="email" value="" name="EMAIL" class="required email" placeholder="name@email.com" id="mce-EMAIL">
      </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>  <div class="clear"><input type="submit" value="Get Notified" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </form>
      </div>
      <!--End mc_embed_signup-->
    </div>
    
    {% if false %}
    <p class="meta">
      {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
      {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
    </p>
    {% endif %}

  </footer>
</article>

  <div class="pagination">
    {% if page.previous.url %}
        <a class="basic-alignment left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; {{page.previous.title}}</a>
      {% endif %}
    {% if page.next.url %}
        <a class="basic-alignment right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">{{page.next.title}} &raquo;</a>
      {% endif %}
  </div>



{% if false and site.disqus_short_name and page.comments == true %}
  <section>
    <div id="disqus_thread" aria-live="polite">{% include post/disqus_thread.html %}</div>
  </section>
{% endif %}
</div>
{% unless page.sidebar == false %}
  {% include sidebar.html %}
{% endunless %}
