// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: none;
}
body {
	max-width: 880px;
	background-color: #FFF;
  > div {
    background: none;
    border-bottom: none;
    > div {
      background: none;
      border-right: none;
    }
  }
  > header{
	  background-color: #FFF;
  }
}

a, a:visited {
	color: #222;
}

article div.entry-content span{
	background-color: #FF9;
}

a:hover{
	color: darken(#dd4a38, 9);
}

body > header h1 {
	font-weight: bold;
  font-size: 24px;
  font-weight: 500;
  margin-top: 2px;
}

body > header h2{
  font-size: 22px;
  font-weight: 200;
  line-height: 1.5em;
}

body > header h1 a, body > header h1 a:visited {
	color: #dd4a38;
}

#content .blog-index article h1 a:hover {
  text-decoration: none !important;
}

#content .blog-index .meta-date{
  font-size: 0.9em;
}

body > nav {
	background: none;
	background-color: #f2f2f2;
	border: none;
	display: none;
}

hgroup{
  max-width: 380px;
  h2 a{
    text-decoration: none;
    color: #AAA !important;
  }
}

#main #full-width #content{
	margin-right: 0px;
}

article header{
  background: none;
  padding-bottom: 0;
  padding-top: 0;
}

blockquote{
	border-left-color: #DEDED3;
}

aside.sidebar img{
    -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
         box-shadow: none !important;
 border: 0px none !important;
 border-radius: 0px;
}

aside.sidebar li {
	border: none;
}

aside.sidebar a{
	text-decoration: none;
}

aside.sidebar section h1{
	border-bottom: none;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  color: #dd4a38;
  line-height: 2em;
  margin-top: 25px;
}

#nate-speller-logo{
	float:right;
}

#nate-speller-logo img{
	margin-left: 46px;
	margin-top: 25px;
	margin-right: 10px;
}

.sidebar-bio{
  font-size: 0.8em;
  margin: 30px 0px 32px;
  display: relative;
}

@media only screen and (min-width: 768px) {
	#content{
		padding-left: 280px;
		margin-right: 0 !important;
	}
	aside.sidebar {
		position: fixed;
		left: 35px;
		top: 0px;
		width: 205px;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 210px 0px;
		padding-right: 35px;
	}
	body > header, footer{
		padding-left: 315px !important;
	}
	#nate-speller-logo{
		float: none;
	}
  .landing-sidebar{
    #nate-speller-logo img{
      margin-left: 70px;
    }
  }
  #blog-archives{
    margin-left: -152px;
  }
  .stars{
    float: right;
    display: inline-block;
    width: 70px;
    img{
      margin:8px 0px;
    }
  }
}



@media only screen and (max-width: 767px) {
  .sidebar-bio{
    display: none;
  }
  .landing-sidebar{
    display: none;
  }
  .stars{
    display: none;
  }
}

article footer{
	padding-left: 0px !important;
}

footer p.post-meta{
  float: right;
}

aside.sidebar li.sidebar-archive{
  border-top: 1px dotted #DDD;
  margin-top: 10px;
  padding: 14px 0px;
}

article ul, article ol{
  margin-left: 22px !important;
  list-style-type: circle;
}

article img{
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border: none;
}

article .meta-date{
  font-size: 12px;
  float: right;
  color: #AAA;
  text-transform: uppercase;
}

a:hover{
	color: saturate(#dd4a38, 10) !important;
}