// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much

html {
  background: none;
}
body {
	max-width: 840px;
	background-color: #FFF;
  > div {
    background: none;
    border-bottom: none;
    > div {
      background: none;
      border-right: none;
    }
  }
  > header{
	  background-color: #FFF;
  }
}

a, a:visited {
	color: #222;
}

article div.entry-content span{
	background-color: #FF9;
}

a:hover{
	color: darken(#10AFB5, 9);
}

body > header h1 {
	font-weight: bold;
	letter-spacing: -0.03em;
}

body > header h1 a, body > header h1 a:visited {
	color: #10AFB5;
}

body > header h1 a:hover{
	color: saturate(#10AFB5, 10);
}

body > nav {
	background: none;
	background-color: #f2f2f2;
	border: none;
	display: none;
}

#main #full-width #content{
	margin-right: 0px;
}

blockquote{
	border-left-color: #DEDED3;
}

aside.sidebar img{
    -moz-box-shadow: none !important;
 -webkit-box-shadow: none !important;
      -o-box-shadow: none !important;
         box-shadow: none !important;
 border: 0px none !important;
 border-radius: 0px;
}

aside.sidebar li {
	border: none;
}

aside.sidebar a{
	text-decoration: none;
}

aside.sidebar section h1{
	border-bottom: none;
}

#nate-speller-logo{
	margin-left: 55px;
	margin-top: 35px;
	margin-right: 10px;
	float: right;
}

@media only screen and (min-width: 768px) {
	#content{
		padding-left: 280px;
		margin-right: 0 !important;
	}
	aside.sidebar {
		position: fixed;
		left: 35px;
		top: 0px;
		background-image: url("../images/grey_out.png");
		width: 205px;
		height: 100%;
		background-repeat: no-repeat;
		background-position: 210px 0px;
		padding-right: 35px;
	}
	body > header, footer{
		padding-left: 315px !important;
	}
	#nate-speller-logo{
		float: none;
	}
}